<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no"
    />

    <title>CsED - Most Rated Shows</title>

    <!-- Import Montserrat font -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
    />

    <!-- project wide styling -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/site.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/footer.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/background.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/button.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/card.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/table.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/grid.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/utils.css') }}"
    />

    <!-- page specific styling -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/detailed-view.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/pagination.css') }}"
    />
  </head>

  <body>
    <div id="body-wrapper">
      <header class="clearfix">
        <img
          id="header-logo"
          src="{{ url_for('static', filename='assets/codecool-logo.png') }}"
          alt="Codecool Logo"
        />
        <span id="header-title" class="title">
          Codecool Series DB
        </span>
        <div id="header-auth">
          <button type="button" id="bt_register">Register</button>
          <button type="button" id="bt_login">Login</button>
        </div>
      </header>
      <section>
        <h1 class="title text-center">Shows</h1>
        <div class="card">
          <h2>Welcome TV show lovers!</h2>
          <p>
            This great site is happy to bring you your favourite TV show's
            <i>details</i>.
          </p>
          <p></p>
          <p>Okay, actually this is a designed dumb page without any logic.</p>
          <p>
            You can find a navigational element, the so called "breadcrumb"
            above the page's title. Use it for in-depth navigation.
          </p>
        </div>
        <div class="card">
          <div class="dropdown-selector">
            <form action="/shows/most-rated/{{current_page}}">
              <select name="order_by">
                <option value="title">Title</option>
                <option value="year">Year</option>
                <option value="runtime">Runtime</option>
                <option value="rating">Rating</option>
              </select>
              <select name="order">
                <option value="ASC">ASC</option>
                <option value="DESC">DESC</option>
              </select>
              <button type="submit">Order</button>
            </form>
          </div>
          <table>
            <tr>
              {% for header in headers %}
              <th>{{header}}</th>
              {% endfor %}
            </tr>

            {% for show in shows%}
            <tr>
              <td><a href="/show/{{show.id}}">{{ show.title }}</a></td>
              <td>{{ show.year }}</td>
              <td>{{ show.runtime }}</td>
              <td>{{ show.rating }}</td>
              <td>{{ show.genre }}</td>
              {% if show.trailer %}
              <td><a href="{{show.trailer}}">{{ show.trailer }}</a></td>
              {% else %}
              <td>No URL</td>
              {% endif %} {% if show.homepage %}
              <td><a href="{{show.homepage}}">{{ show.homepage }}</a></td>
              {% else %}
              <td>No URL</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </section>
      <div class="card">
        <div class="pagination">
          {% if current_page == 0 %}
          <p hidden></p>
          {% else %}
          <a href="{{current_page - 1}}"><button><<</button></a>
          {% endif %} {% for page_number in range(7) %} {% if current_page ==
          page_number %}
          <a href="{{page_number}}" class="active">{{page_number + 1}}</a>
          {%else%}
          <a href="{{page_number}}">{{page_number + 1}}</a>
          {%endif%} {% endfor %} {% if current_page == 6 %}
          <p hidden></p>
          {% else %}
          <a href="{{current_page + 1}}"><button>>></button></a>
          {% endif %}
          <a href="/">
            <button>Go back</button>
          </a>
        </div>
      </div>
      <footer>
        Copyright, bla-bla
      </footer>
    </div>
    <div class="background">
      <div class="dark-blue-layer"></div>
      <div class="light-blue-layer"></div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
